<%- include('./includes/head.ejs')%>
  </head>
  <body>
    <form action="/" method="POST">
      <label for="name">Enter User Name</label>
      <input type="text" name="name" id="name" />
      <button type="submit">Add User</button>
    </form>
  </body>
</html>
