<%- include('./includes/head.ejs')%>
</head>
  <body>
    <h1>Users registered</h1>
    <% if(users.length > 0) { %>
      <% for(let user of users) { %>
      <ul>
        <li><%= user.name %></li>
      </ul>
      <% } %>
    <% } else { %>
    <h2>No users entered!</h2>
    <% } %>
<%- include('./includes/end.ejs')%>